// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contentcontacts{
  padding-left: 15%;
  padding-top: 10px;
  padding-right: 15%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: auto;
  height: 100%;
  padding: 30px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  background-color:white;
  text-align: center;
  font-size: 15pt;
}