<!DOCTYPE html>
<html>
<head>
<img src="https://performbetter.co.uk/wp-content/uploads/2018/06/workout-logo.png" id="logo">
<h1 id=titlecolor>Azure Workout</h1>
</head>

<body>
    <div class = "topnav">
        <nav>
            <ul>
                <li><%= link_to 'Home', home_index_path %></li>
                <li><%= link_to 'Workout Log', user_new_path %></li>
                <li><%= link_to 'Progress', user_show_path %></li>
                <li><%= link_to 'Account', new_account_path %></li>
                <li><a>Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <div class=contentaccount>
        <div class=col-container>
            <div class="col">
                <h1>Login</h1>
                <form>
                    <fieldset style="border-style: none;">
                        Email:<br/> <input type="text"><br/> <br/>
                        Password: <br> <input type="text"><br>
                    </fieldset>
                    <button type="button" >Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>