<!DOCTYPE html>
<html>
<head>
<img src="https://performbetter.co.uk/wp-content/uploads/2018/06/workout-logo.png" id="logo">
<h1 id=titlecolor>Azure Workout</h1>
</head>

<body>
    
<div class = "topnav">
    <nav>
        <ul>
            <li><%= link_to 'Home', home_index_path %></a></li>
            <li><a>Workout Log</a></li>
            <li><a>Progress</a></li>
            <li><%= link_to 'Account', new_account_path %></li>
            <li><a>Contact Us</a></li>
        </ul>
    </nav>
</div>

